%h1 Contacts

%ul
  - @contacts.each do |contact|
    %li
      %p
        %b= contact.name
        - if contact.phone
          (Phone: #{contact.phone})

      = contact.email

= pagination(@contacts).html_safe

